body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: right;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

.number {
    grid-column: span 1;
}

.operator {
    grid-column: span 1;
    background-color: #ffa500;
    color: #fff;
}

.clear {
    grid-column: span 1;
    background-color: #ff6347;
    color: #fff;
}

.percent{
    grid-column: span 2;
    background-color: #06b6fc;
    color: #fff;
}

.calculate {
    grid-column: span 1;
    background-color: #008000;
    color: #fff;
}
